<% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wiki.title, wiki_path(wiki.id) %><br>
        <small><%= wiki.user.name %></small>
      </h4>
    </div>
  </div>
<% end %>

<%= will_paginate @wikis %>