<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $15.00</span>
    </label>
  </article>

  <script class='stripe-button' 
          src="https://checkout.stripe.com/checkout.js" 
          data-key="<%= @stripe_btn_data[:key] %>" 
          data-amount=<%= @stripe_btn_data[:amount] %> 
          data-description="<%= @stripe_btn_data[:description] %>" >
  </script>
  
<% end %>
